force-app/main/default/flows/Boom_Order_Insert_Related_Subscription_Products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_if_Pricebook_Entry_Exists_ELM</name>
        <label>Check if Pricebook Entry Exists ELM</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Insert_ELM_Product_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Pricebook_entry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PriceBook_Entry_ELM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Pricebook entry</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Which_Product_to_Insert</name>
        <label>Check Which Product to Insert</label>
        <locationX>644</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Find_Product_if_Already_Inserted_Soc_Media</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Insert Social Media Setup</defaultConnectorLabel>
        <rules>
            <name>Insert_EL_Magazine_Setup</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01t0W000005rROvQAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01t0W00000513VSQAY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01t0W00000513WjQAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Record</targetReference>
            </connector>
            <label>Insert EL Magazine Setup</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Soc_Media_Product_Exist</name>
        <label>Does Soc Media Product Exist</label>
        <locationX>1040</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Continue_Flow_it_does_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Product_if_Already_Inserted_Soc_Media</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Soc_Media_Pricebook_Entry</targetReference>
            </connector>
            <label>Continue Flow - it does not exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_product_already_exist</name>
        <label>Does the product already exist</label>
        <locationX>248</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CreateProduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PriceBook_Entry_ELM</targetReference>
            </connector>
            <label>Create Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_price_book_entry_for_soc_media_product</name>
        <label>Is there a price book entry for soc media product</label>
        <locationX>842</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>There_is_Continue_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Soc_Media_Pricebook_Entry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Soc_Media_Line</targetReference>
            </connector>
            <label>There is -- Continue Flow</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Boom Order - Insert Related Subscription Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Boom Order - Insert Related Subscription Products</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_ELM_Product_Line</name>
        <label>Insert ELM Product Line</label>
        <locationX>182</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>DateAvailableToPromise__c</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DateRequired__c</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ListPrice__c</field>
            <value>
                <elementReference>Get_PriceBook_Entry_ELM.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Get_PriceBook_Entry_ELM.Product2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesOrder__c</field>
            <value>
                <elementReference>$Record.SalesOrder__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesPrice__c</field>
            <value>
                <elementReference>Get_PriceBook_Entry_ELM.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>created_by_flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SalesOrderProductLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_Soc_Media_Line</name>
        <label>Insert Soc Media Line</label>
        <locationX>710</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>DateAvailableToPromise__c</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DateRequired__c</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ListPrice__c</field>
            <value>
                <elementReference>Get_Soc_Media_Pricebook_Entry.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Get_Soc_Media_Pricebook_Entry.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesOrder__c</field>
            <value>
                <elementReference>$Record.SalesOrder__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesPrice__c</field>
            <value>
                <elementReference>Get_Soc_Media_Pricebook_Entry.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>created_by_flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SalesOrderProductLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_Product_if_Already_Inserted_Soc_Media</name>
        <label>Find Product if Already Inserted Soc Media</label>
        <locationX>1040</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Soc_Media_Product_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01t6T000006CAX4QAO</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SalesOrder__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesOrderProductLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Record</name>
        <label>Find Product in Sales Order&apos;s Lines</label>
        <locationX>248</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_the_product_already_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SalesOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SalesOrder__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01t0W000005rRObQAM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesOrderProductLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PriceBook_Entry_ELM</name>
        <label>Get PriceBook Entry ELM</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Pricebook_Entry_Exists_ELM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01t0W000005rRObQAM</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SalesOrder__r.Price_Book__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Soc_Media_Pricebook_Entry</name>
        <label>Get Soc Media Pricebook Entry</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_price_book_entry_for_soc_media_product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01t6T000006CAX4QAO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SalesOrder__r.Price_Book__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Which_Product_to_Insert</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01t0W000005rROvQAM</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01t0W00000513VSQAY</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01t0W00000513WjQAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01t6T000006CAX9QAO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01t6T000006CCI6QAO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01t6T000006CCILQA4</stringValue>
            </value>
        </filters>
        <object>SalesOrderProductLine__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
