force-app/main/default/flows/call_logging_from_scractch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>ThreeBusinessDays</name>
        <label>ThreeBusinessDays</label>
        <locationX>335</locationX>
        <locationY>284</locationY>
        <actionName>NextBusinessDayAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_a_Call</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>DateForCertAppointmentScheduled</name>
        <label>DateForCertAppointmentScheduled</label>
        <locationX>655</locationX>
        <locationY>943</locationY>
        <assignmentItems>
            <assignToReference>DateAppointmentSchedule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Next_Date_Display</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorMessageAssignment</name>
        <label>ErrorMessageAssignment</label>
        <locationX>648</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>NextDateErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NextDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Next_Date_ByStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Next_Date_Display</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorMessageforNullDate</name>
        <label>ErrorMessageforNullDate</label>
        <locationX>651</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>NextDateErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateNullErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NextDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Next_Date_ByStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Next_Date_Display</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Next_Date_Assignment</name>
        <label>Next Date Assignment</label>
        <locationX>313</locationX>
        <locationY>533</locationY>
        <assignmentItems>
            <assignToReference>NextDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NextDateFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InitialNextDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NextDateFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Next_Date_Display</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StageErrorMessageAssignment</name>
        <label>StageErrorMessageAssignment</label>
        <locationX>713</locationX>
        <locationY>526</locationY>
        <assignmentItems>
            <assignToReference>StageErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please select a stage before saving</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_a_Call</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Stage_Contain_Follow_Up</name>
        <label>Does Stage Contain Follow-Up</label>
        <locationX>619</locationX>
        <locationY>1098</locationY>
        <defaultConnector>
            <targetReference>Does_The_Stage_Need_Attention</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not A Follow Up Stage</defaultConnectorLabel>
        <rules>
            <name>Is_This_An_Appointment_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentStage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Follow Up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Estimated_Amount_Percent_Null</targetReference>
            </connector>
            <label>Is This An Appointment Stage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_The_Stage_Need_Attention</name>
        <label>Does The Stage Need Attention</label>
        <locationX>657</locationX>
        <locationY>1309</locationY>
        <defaultConnector>
            <targetReference>Create_Call_Activity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Need Attention</defaultConnectorLabel>
        <rules>
            <name>Stage_is_Open_Needs_Attention</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open/Needs Attention</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_Open_Needs_Attention</targetReference>
            </connector>
            <label>Stage is Open, Needs Attention</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Estimated_Amount_Percent_Null</name>
        <label>Is Estimated Amount/Percent Null</label>
        <locationX>865</locationX>
        <locationY>1102</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Amount_and_Percent_Are_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEstimatedPurchase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentPercent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Amount_Already_Set</targetReference>
            </connector>
            <label>Amount and Percent Are Not Null</label>
        </rules>
        <rules>
            <name>Amount_and_Percent_Are_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEstimatedPurchase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentPercent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Estimated_Purchase_and_Percent_Required</targetReference>
            </connector>
            <label>Amount and Percent Are Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Logged_Call_Null</name>
        <label>Is Logged Call Null</label>
        <locationX>527</locationX>
        <locationY>1788</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_or_Equal_to_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentLoggedCalls</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity</targetReference>
            </connector>
            <label>Greater or Equal to 0</label>
        </rules>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentLoggedCalls</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_With_Null_Logged_Call</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check whether the current stage is Not interested or Interested</description>
        <name>Is_Stage_Interested_Or_Not</name>
        <label>Is Stage Interested Or Not</label>
        <locationX>310</locationX>
        <locationY>1095</locationY>
        <defaultConnector>
            <targetReference>Does_Stage_Contain_Follow_Up</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Interested</defaultConnectorLabel>
        <rules>
            <name>Not_Interested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NON PURCHASER - Not Interested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Interested_New</targetReference>
            </connector>
            <label>Not Interested</label>
        </rules>
    </decisions>
    <decisions>
        <name>Salesperson_Response_to_Update_Question</name>
        <label>Salesperson Response to Update Question</label>
        <locationX>836</locationX>
        <locationY>1571</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Wants_to_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_New_Percentage_and_Estimate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Estimated_Purchase_and_Percent_Required</targetReference>
            </connector>
            <label>Wants to Update</label>
        </rules>
        <rules>
            <name>Does_Not_Want_To_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_New_Percentage_and_Estimate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_The_Stage_Need_Attention</targetReference>
            </connector>
            <label>Does Not Want To Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Was_Null</name>
        <label>Stage Was Null</label>
        <locationX>547</locationX>
        <locationY>2086</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_Stage_Picked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Restore_Stage_and_Update_Open_Call_Comments</targetReference>
            </connector>
            <label>No Stage Picked</label>
        </rules>
        <rules>
            <name>Stage_Picked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentStage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finish</targetReference>
            </connector>
            <label>Stage Picked</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validate the next date value based on current stage</description>
        <name>Validate_Next_Date</name>
        <label>Validate Next Date</label>
        <locationX>306</locationX>
        <locationY>858</locationY>
        <defaultConnector>
            <targetReference>Is_Stage_Interested_Or_Not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NextDateIsNotNull</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>NextDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InitialNextDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMessageAssignment</targetReference>
            </connector>
            <label>NextDateIsNotNull</label>
        </rules>
        <rules>
            <name>WhenDateIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InitialNextDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NextDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentStage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Alive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentStage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Alive A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentStage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Alive B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentStage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Alive C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentStage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Alive D</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMessageforNullDate</targetReference>
            </connector>
            <label>WhenDateIsNull</label>
        </rules>
        <rules>
            <name>DateForCertAppointmentSchedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NextDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cert Appt Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DateForCertAppointmentScheduled</targetReference>
            </connector>
            <label>DateForCertAppointmentSchedule</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Stage</name>
        <label>Validate Stage</label>
        <locationX>499</locationX>
        <locationY>536</locationY>
        <defaultConnector>
            <targetReference>Next_Date_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>MustSelectStage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>---None---</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StageErrorMessageAssignment</targetReference>
            </connector>
            <label>MustSelectStage</label>
        </rules>
    </decisions>
    <description>2.26 removed the comments temporarily
2.26 replaced comments with new text area field
2.27 task saves to description field instead of comments__c
2.28 label name changed
2.28 lowered api version to 49
4.8 adding test txt, replaced apex action</description>
    <dynamicChoiceSets>
        <description>These are the picklist options from the Call/Task object</description>
        <name>ActivityCallDisposition</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Call_Disposition__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NoInterestReasonCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>No_Interest_Reason_Category__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PercentChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Percent_Chance__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>Increments the current # of logged calls by 1</description>
        <name>LoggedCallsPlusOne</name>
        <dataType>Number</dataType>
        <expression>VALUE({!CurrentLoggedCalls}) + 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NextDateFormula</name>
        <dataType>Date</dataType>
        <expression>IF(({!CurrentStage} = &apos;Pre-Winner&apos; || 
{!CurrentStage} = &apos;Follow Up - Appointment Scheduled&apos; || 
{!CurrentStage} = &apos;Follow Up - Group&apos; ||
 {!CurrentStage} = &apos;Follow Up - Low Interest&apos; || 
{!CurrentStage} = &apos;Alive&apos; ||
 {!CurrentStage} = &apos;Purchased - Follow up needed&apos;), 
{!ThreeBusinessDays},
 IF(({!CurrentStage} = &apos;Cert Appt Scheduled&apos;), TODAY(),null))</expression>
    </formulas>
    <formulas>
        <name>UserIdFormula</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>call logging from scractch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Log A Call With Staging</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Call_Activity</name>
        <label>Create Call Activity</label>
        <locationX>535</locationX>
        <locationY>1618</locationY>
        <assignRecordIdToReference>CreatedTaskId</assignRecordIdToReference>
        <connector>
            <targetReference>Is_Logged_Call_Null</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Disposition__c</field>
            <value>
                <elementReference>Disposition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Call_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>UserIdFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>10</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>LaunchedOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CurrentOpportunityContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <description>Query the current opportunity and assign the ID to a variable</description>
        <name>FindCurrentOpportunity</name>
        <label>FindCurrentOpportunity</label>
        <locationX>506</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ThreeBusinessDays</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LaunchedOpportunityID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>CurrentOpportunityContact</assignToReference>
            <field>Contact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CurrentEstimatedPurchase</assignToReference>
            <field>Estimated_Purchase__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CurrentOpportunityAM</assignToReference>
            <field>FSP_Sales_Rep__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CurrentLoggedCalls</assignToReference>
            <field>Logged_Calls__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CurrentPercent</assignToReference>
            <field>Percent_Chance__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CurrentOppRecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CurrentStage</assignToReference>
            <field>StageName</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Add_Not_Interested_Info_To_Opportunity</name>
        <label>Add Not Interested Info To Opportunity</label>
        <locationX>329</locationX>
        <locationY>1499</locationY>
        <connector>
            <targetReference>Create_Call_Activity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LaunchedOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>No_Interest_Details__c</field>
            <value>
                <elementReference>No_Interest_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_Interest_Reason_Category__c</field>
            <value>
                <elementReference>NoInterestReasonCategory</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Restore_Stage_and_Update_Open_Call_Comments</name>
        <label>Restore Stage and Update Open Call Comments</label>
        <locationX>676</locationX>
        <locationY>2206</locationY>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LaunchedOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Full_Call_Notes__c</field>
            <value>
                <elementReference>Call_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_With_Estimate_and_Percent</name>
        <label>Update Opp With Estimate and Percent</label>
        <locationX>697</locationX>
        <locationY>1615</locationY>
        <connector>
            <targetReference>Does_The_Stage_Need_Attention</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LaunchedOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estimated_Purchase__c</field>
            <value>
                <elementReference>Estimated_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Percent_Chance__c</field>
            <value>
                <elementReference>Percent_Chance</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_With_Null_Logged_Call</name>
        <label>Update Opp With Null Logged Call</label>
        <locationX>404</locationX>
        <locationY>1913</locationY>
        <connector>
            <targetReference>Stage_Was_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LaunchedOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Full_Call_Notes__c</field>
            <value>
                <elementReference>Call_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Call_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Logged_Calls__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_call_date__c</field>
            <value>
                <elementReference>Next_Date_ByStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>688</locationX>
        <locationY>1918</locationY>
        <connector>
            <targetReference>Stage_Was_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LaunchedOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Full_Call_Notes__c</field>
            <value>
                <elementReference>Call_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Call_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Logged_Calls__c</field>
            <value>
                <elementReference>LoggedCallsPlusOne</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_call_date__c</field>
            <value>
                <elementReference>Next_Date_ByStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_With_Description</name>
        <label>Update Opportunity With Description</label>
        <locationX>437</locationX>
        <locationY>1392</locationY>
        <connector>
            <targetReference>Create_Call_Activity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LaunchedOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Open_Ended_Stage_Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Amount_Already_Set</name>
        <label>Amount Already Set</label>
        <locationX>1023</locationX>
        <locationY>1336</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Salesperson_Response_to_Update_Question</targetReference>
        </connector>
        <fields>
            <name>EstimateAlreadyEntered</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;It looks like you have already set a percentage and estimate on this record, check the box and click &quot;next&quot; to update, if you *do not* want to update just click &quot;next&quot; - leaving the box blank.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Set_New_Percentage_and_Estimate</name>
            <dataType>Boolean</dataType>
            <fieldText>Set New Percentage and Estimate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Estimated_Purchase_and_Percent_Required</name>
        <label>Estimated Purchase and Percent Required</label>
        <locationX>787</locationX>
        <locationY>1340</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Opp_With_Estimate_and_Percent</targetReference>
        </connector>
        <fields>
            <name>FollowUpRequireEstimateAndPercent</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&quot;Follow Up&quot; stages require the selection of an estimated amount and percent chance.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Estimated_Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Estimated Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Percent_Chance</name>
            <choiceReferences>PercentChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Percent Chance</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>451</locationX>
        <locationY>2219</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Close</name>
            <fieldText>&lt;p&gt;Please Close This Window&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Log_a_Call</name>
        <label>Log a Call</label>
        <locationX>508</locationX>
        <locationY>383</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Validate_Stage</targetReference>
        </connector>
        <fields>
            <name>Disposition</name>
            <choiceReferences>ActivityCallDisposition</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Disposition</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Call_Notes</name>
            <fieldText>Call Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FilteredStageName</name>
            <extensionName>c:Picklist_RecordTypeComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>StageName</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordTypeId</name>
                <value>
                    <elementReference>CurrentOppRecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CurrentStage</assignToReference>
                <name>selectedpicklistValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>StageErrorDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(250, 76, 76);&quot;&gt;{!StageErrorMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Next_Date_Display</name>
        <label>Next Date Display</label>
        <locationX>314</locationX>
        <locationY>690</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Validate_Next_Date</targetReference>
        </connector>
        <fields>
            <name>Next_Date_ByStage</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>NextDate</elementReference>
            </defaultValue>
            <fieldText>Next Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;{!NextDateErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Interested_New</name>
        <label>Not Interested New</label>
        <locationX>328</locationX>
        <locationY>1313</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Not_Interested_Info_To_Opportunity</targetReference>
        </connector>
        <fields>
            <name>No_Interest_Reason_Category</name>
            <choiceReferences>NoInterestReasonCategory</choiceReferences>
            <dataType>String</dataType>
            <fieldText>No Interest Reason Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>No_Interest_Details</name>
            <fieldText>No Interest Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selected_Open_Needs_Attention</name>
        <label>Selected Open - Needs Attention</label>
        <locationX>433</locationX>
        <locationY>1220</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Opportunity_With_Description</targetReference>
        </connector>
        <fields>
            <name>InfoOnNeedsAttention</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You have selected &quot;Open/Needs Attention&quot; as a stage, please provide information on why you have selected this stage in the box below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>380</locationX>
        <locationY>46</locationY>
        <connector>
            <targetReference>FindCurrentOpportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CreatedTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentEstimatedPurchase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentLoggedCalls</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentOpportunityAM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentOpportunityContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentOppRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentPercent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DateAppointmentSchedule</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DateErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DateNullErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InitialNextDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The current Opportunity</description>
        <name>LaunchedOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NextCallDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NextDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NextDateErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to hold error messaging</description>
        <name>StageErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
