force-app/main/default/flows/Consolidate_Market_Goals.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>NewBiz_Goals_Running_Total</name>
        <label>NewBiz Goals Running Total</label>
        <locationX>429</locationX>
        <locationY>593</locationY>
        <assignmentItems>
            <assignToReference>NewBizPrimaryGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.January_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBizPrimaryGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.February_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBizPrimaryGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.March_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBizPrimaryGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.April_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBizPrimaryGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.May_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBizPrimaryGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.June_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBizPrimaryGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.July_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBizPrimaryGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.August_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBizPrimaryGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.September_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBizPrimaryGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.October_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBizPrimaryGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.November_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBizPrimaryGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.December_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBizPMGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.January_Post_Market_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBizPMGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.February_Post_Market_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBizPMGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.March_Post_Market_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBizPMGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.April_Post_Market_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBizPMGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.May_Post_Market_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBizPMGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.June_Post_Market_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBizPMGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.July_Post_Market_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBizPMGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.August_Post_Market_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBizPMGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.September_Post_Market_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBizPMGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.October_Post_Market_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBizPMGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.November_Post_Market_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBizPMGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.December_Post_Market_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Goals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Post_Market_Manager_Running_Total</name>
        <label>Post Market Manager Running Total</label>
        <locationX>220</locationX>
        <locationY>534</locationY>
        <assignmentItems>
            <assignToReference>PostMarketGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.April_Post_Market_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PostMarketGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.August_Post_Market_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PostMarketGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.December_Post_Market_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PostMarketGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.February_Post_Market_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PostMarketGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.January_Post_Market_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PostMarketGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.July_Post_Market_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PostMarketGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.June_Post_Market_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PostMarketGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.March_Post_Market_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PostMarketGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.May_Post_Market_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PostMarketGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.November_Post_Market_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PostMarketGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.October_Post_Market_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PostMarketGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.September_Post_Market_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Goals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Retention_Goal_Running_Totals</name>
        <label>Retention Goal Running Totals</label>
        <locationX>57</locationX>
        <locationY>417</locationY>
        <assignmentItems>
            <assignToReference>RetentionPrimaryGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.January_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetentionPrimaryGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.February_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetentionPrimaryGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.March_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetentionPrimaryGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.April_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetentionPrimaryGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.May_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetentionPrimaryGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.June_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetentionPrimaryGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.July_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetentionPrimaryGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.August_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetentionPrimaryGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.September_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetentionPrimaryGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.October_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetentionPrimaryGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.November_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetentionPrimaryGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.December_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetentionPMGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.January_Post_Market_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetentionPMGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.February_Post_Market_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetentionPMGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.March_Post_Market_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetentionPMGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.April_Post_Market_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetentionPMGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.May_Post_Market_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetentionPMGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.June_Post_Market_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetentionPMGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.July_Post_Market_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetentionPMGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.August_Post_Market_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetentionPMGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.September_Post_Market_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetentionPMGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.October_Post_Market_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetentionPMGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.November_Post_Market_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetentionPMGoal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AM_Market_Goal.December_Post_Market_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Goals</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Does this goal get allocated to New Biz, Retention, or PM</description>
        <name>Goal_Bucket</name>
        <label>Goal Bucket</label>
        <locationX>587</locationX>
        <locationY>416</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NewBiz_Allocation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AM_Market_Goal.Goal_Allocation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewBiz_Goals_Running_Total</targetReference>
            </connector>
            <label>NewBusiness Allocation</label>
        </rules>
        <rules>
            <name>RetentionAllocation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AM_Market_Goal.Goal_Allocation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retention</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retention_Goal_Running_Totals</targetReference>
            </connector>
            <label>RetentionAllocation</label>
        </rules>
        <rules>
            <name>PostMarketAllocation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AM_Market_Goal.Goal_Allocation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post Market Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Market_Manager_Running_Total</targetReference>
            </connector>
            <label>PostMarketAllocation</label>
        </rules>
    </decisions>
    <interviewLabel>Consolidate Market Goals working full {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Consolidate Market Goals working full</label>
    <loops>
        <name>Loop_Through_Goals</name>
        <label>Loop Through Goals</label>
        <locationX>583</locationX>
        <locationY>285</locationY>
        <assignNextValueToReference>AM_Market_Goal</assignNextValueToReference>
        <collectionReference>AM_Market_Goals</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Goal_Bucket</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateMarket_with_New_Goal_Totals</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Whenever an AM goal is added/updated, recalculate the Primary and Post Market Goals</description>
        <name>FindMarketGoals</name>
        <label>FindMarketGoals</label>
        <locationX>585</locationX>
        <locationY>140</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Goals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Market_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OriginatingGoal.Market_Project__c</elementReference>
            </value>
        </filters>
        <object>Market_Goal__c</object>
        <outputReference>AM_Market_Goals</outputReference>
        <queriedFields>April_Goal__c</queriedFields>
        <queriedFields>August_Goal__c</queriedFields>
        <queriedFields>December_Goal__c</queriedFields>
        <queriedFields>February_Goal__c</queriedFields>
        <queriedFields>January_Goal__c</queriedFields>
        <queriedFields>July_Goal__c</queriedFields>
        <queriedFields>June_Goal__c</queriedFields>
        <queriedFields>March_Goal__c</queriedFields>
        <queriedFields>May_Goal__c</queriedFields>
        <queriedFields>November_Goal__c</queriedFields>
        <queriedFields>October_Goal__c</queriedFields>
        <queriedFields>September_Goal__c</queriedFields>
        <queriedFields>April_Post_Market_Goal__c</queriedFields>
        <queriedFields>August_Post_Market_Goal__c</queriedFields>
        <queriedFields>December_Post_Market_Goal__c</queriedFields>
        <queriedFields>February_Post_Market_Goal__c</queriedFields>
        <queriedFields>January_Post_Market_Goal__c</queriedFields>
        <queriedFields>July_Post_Market_Goal__c</queriedFields>
        <queriedFields>June_Post_Market_Goal__c</queriedFields>
        <queriedFields>March_Post_Market_Goal__c</queriedFields>
        <queriedFields>May_Post_Market_Goal__c</queriedFields>
        <queriedFields>November_Post_Market_Goal__c</queriedFields>
        <queriedFields>October_Post_Market_Goal__c</queriedFields>
        <queriedFields>September_Post_Market_Goal__c</queriedFields>
        <queriedFields>Goal_Allocation__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateMarket_with_New_Goal_Totals</name>
        <label>UpdateMarket with New Goal Totals</label>
        <locationX>828</locationX>
        <locationY>286</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OriginatingGoal.Market_Project__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_New_Business_Post_Market_Goal__c</field>
            <value>
                <elementReference>NewBizPMGoal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_New_Business_Primary_Market_Goal__c</field>
            <value>
                <elementReference>NewBizPrimaryGoal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Post_Market_Manager_Goal__c</field>
            <value>
                <elementReference>PostMarketGoal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Retention_Post_Market_Goal__c</field>
            <value>
                <elementReference>RetentionPMGoal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Retention_Primary_Market_Goal__c</field>
            <value>
                <elementReference>RetentionPrimaryGoal</elementReference>
            </value>
        </inputAssignments>
        <object>Market__c</object>
    </recordUpdates>
    <startElementReference>FindMarketGoals</startElementReference>
    <status>Active</status>
    <variables>
        <name>AM_Market_Goal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Market_Goal__c</objectType>
    </variables>
    <variables>
        <name>AM_Market_Goals</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Market_Goal__c</objectType>
    </variables>
    <variables>
        <name>Market</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Market__c</objectType>
    </variables>
    <variables>
        <name>NewBizPMGoal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NewBizPrimaryGoal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>OriginatingGoal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Market_Goal__c</objectType>
    </variables>
    <variables>
        <name>PostMarketGoal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PrimaryGoal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>RetentionPMGoal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>RetentionPrimaryGoal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
