force-app/main/default/flows/CountCalls.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Countcalls</name>
        <label>Countcalls</label>
        <locationX>621</locationX>
        <locationY>296</locationY>
        <assignmentItems>
            <assignToReference>CallCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopthroughcalls</targetReference>
        </connector>
    </assignments>
    <description>Counts calls
added a second assignment for the opportunity
added first lookup, sobject for original opp, and fast update per tutorial
Removed first sobject and fast update</description>
    <interviewLabel>CountCalls {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CountCalls</label>
    <loops>
        <name>loopthroughcalls</name>
        <label>loopthroughcalls</label>
        <locationX>357</locationX>
        <locationY>295</locationY>
        <assignNextValueToReference>loopcalls</assignNextValueToReference>
        <collectionReference>AssociatedCalls</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Countcalls</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateOpp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>findassociatecalls</name>
        <label>findassociatecalls</label>
        <locationX>187</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopthroughcalls</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>launchedoppid</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>AssociatedCalls</outputReference>
        <queriedFields>WhatId</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateOpp</name>
        <label>UpdateOpp</label>
        <locationX>352</locationX>
        <locationY>433</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>launchedoppid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Logged_Calls__c</field>
            <value>
                <elementReference>CallCount</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>findassociatecalls</startElementReference>
    <status>Active</status>
    <variables>
        <name>AssociatedCalls</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>CallCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>launchedopp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Hold id of launched opp</description>
        <name>launchedoppid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>loopcalls</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>stores count value for opportunity field</description>
        <name>opportunitycountsobject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
