force-app/main/default/flows/ecommerce_credit_validator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>increment_count</name>
        <label>increment count</label>
        <locationX>747</locationX>
        <locationY>341</locationY>
        <assignmentItems>
            <assignToReference>activitycounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_each_task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>activity_minimum_reached</name>
        <label>activity minimum reached</label>
        <locationX>484</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>activitycounter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_all_line_recipients</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>Last90Days</name>
        <dataType>Date</dataType>
        <expression>Today()-90</expression>
    </formulas>
    <interviewLabel>ecommerce credit validator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ecommerce credit validator</label>
    <loops>
        <name>for_each_task</name>
        <label>for each task</label>
        <locationX>483</locationX>
        <locationY>340</locationY>
        <assignNextValueToReference>currenttask</assignNextValueToReference>
        <collectionReference>Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>increment_count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>activity_minimum_reached</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>foreach_line_recipient</name>
        <label>foreach line recipient</label>
        <locationX>662</locationX>
        <locationY>577</locationY>
        <assignNextValueToReference>currentLineRecipient</assignNextValueToReference>
        <collectionReference>linerecipients</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_am</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_all_activity_records_for_the_opportunity</name>
        <label>Find all activity records for the opportunity</label>
        <locationX>485</locationX>
        <locationY>222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>for_each_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>call</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ring.io call</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Last90Days</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>Tasks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Call_Disposition__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_all_line_recipients</name>
        <label>Find all line recipients</label>
        <locationX>485</locationX>
        <locationY>577</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>foreach_line_recipient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OriginatingOrder.Id</elementReference>
            </value>
        </filters>
        <object>LineRecipient__c</object>
        <outputReference>linerecipients</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountManager__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Opportunity</name>
        <label>Lookup Opportunity</label>
        <locationX>485</locationX>
        <locationY>98</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_all_activity_records_for_the_opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OriginatingOrder.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>Opportunity.FSP_Sales_Rep__c</assignToReference>
            <field>FSP_Sales_Rep__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Opportunity.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>update_am</name>
        <label>update am</label>
        <locationX>879</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>foreach_line_recipient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentLineRecipient.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountManager__c</field>
            <value>
                <elementReference>Opportunity.FSP_Sales_Rep__c</elementReference>
            </value>
        </inputAssignments>
        <object>LineRecipient__c</object>
    </recordUpdates>
    <startElementReference>Lookup_Opportunity</startElementReference>
    <status>Active</status>
    <variables>
        <name>activitycounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentLineRecipient</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LineRecipient__c</objectType>
    </variables>
    <variables>
        <name>currenttask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>linerecipients</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LineRecipient__c</objectType>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OriginatingOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>kugo2p__SalesOrder__c</objectType>
    </variables>
    <variables>
        <description>within the last 90 days of type call (added ringio filter to avoid double counting)</description>
        <name>Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
