force-app/main/default/flows/ELM_fulfillment_Qty_and_E_Mag_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <description>updates ELM fulfillment with e-mag and quantity info</description>
    <interviewLabel>ELM fulfillment Qty and E-Mag update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ELM fulfillment Qty and E-Mag update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Finds the associated copies fulfillment and copies quantity to the issue</description>
        <name>Find_Copies_Quantity</name>
        <label>Find Copies Quantity</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_E_Magazine</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Base_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Subscription Copies</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Subscription Cancelled,Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Boom_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Fulfillment__r.Boom_Order__r.Full_Order_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fulfillment__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quantity__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Finds current ELM sale issue</description>
        <name>Find_Current_ELM_Sales_Issue</name>
        <label>Find Current ELM Sales Issue</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_ELM_Issue_with_correct_ELM_Pub_info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Essential_Living_Publication__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Check if there is an E-Magazine subscription</description>
        <name>Find_E_Magazine</name>
        <label>Find E-Magazine</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Base_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>E-Magazine</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Subscription Cancelled,Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Boom_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Fulfillment__r.Boom_Order__r.Full_Order_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fulfillment__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quantity__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates new ELM issues with correct corresponding pub info</description>
        <name>Update_ELM_Issue_with_correct_ELM_Pub_info</name>
        <label>Update ELM Issue with correct ELM Pub info</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Find_Copies_Quantity</targetReference>
        </connector>
        <inputAssignments>
            <field>Essential_Living_Publication__c</field>
            <value>
                <elementReference>Find_Current_ELM_Sales_Issue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Find_Current_ELM_Sales_Issue.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Current_ELM_Sales_Issue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Essential_Living_Publication__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <object>Essential_Living_Issue__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
