force-app/main/default/flows/Essential_Living_Issue_Publication_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Escapes_and_experiences_split</name>
        <label>Escapes and experiences split</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Find_Current_ELM_Sales_Issue_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ELM</defaultConnectorLabel>
        <rules>
            <name>Escapes_and_Experiences</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fulfillment__r.Product_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Escapes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Current_Escapes_Sales_Issue</targetReference>
            </connector>
            <label>Escapes and Experiences</label>
        </rules>
    </decisions>
    <description>Assigns correct ELM OR Escapes publication and name to newly created publication issues</description>
    <environments>Default</environments>
    <interviewLabel>Essential Living Issue Publication Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Essential Living Issue Publication Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Finds current ELM sale issue</description>
        <name>Find_Current_ELM_Sales_Issue_0</name>
        <label>Find Current ELM Sales Issue</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_ELM_Issue_with_correct_ELM_Pub_info_0_0</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3) AND (NOT(4))</filterLogic>
        <filters>
            <field>Sales_Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Escapes</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Essential_Living_Publication__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Finds current Escapes sale issue</description>
        <name>Find_Current_Escapes_Sales_Issue</name>
        <label>Find Current Escapes Sales Issue</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_ELM_Issue_with_correct_ELM_Pub_info_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Escapes</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Essential_Living_Publication__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates new ELM issues with correct corresponding pub info</description>
        <name>Update_ELM_Issue_with_correct_ELM_Pub_info_0</name>
        <label>Update ELM Issue with correct ELM Pub info</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Essential_Living_Publication__c</field>
            <value>
                <elementReference>Find_Current_Escapes_Sales_Issue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!$Record.Client_First_Name__c} {!$Record.Client_Last_Name__c} {!Find_Current_Escapes_Sales_Issue.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates new ELM issues with correct corresponding pub info</description>
        <name>Update_ELM_Issue_with_correct_ELM_Pub_info_0_0</name>
        <label>Update ELM Issue with correct ELM Pub info</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Essential_Living_Publication__c</field>
            <value>
                <elementReference>Find_Current_ELM_Sales_Issue_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!$Record.Client_First_Name__c} {!$Record.Client_Last_Name__c} {!Find_Current_ELM_Sales_Issue_0.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Escapes_and_experiences_split</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Essential_Living_Publication__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <object>Essential_Living_Issue__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
