force-app/main/default/flows/Find_Opportunity_and_Set_Stage_Upon_Appointment_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Removed filter for first appointment set box per Bjorn</description>
    <interviewLabel>Find Opportunity and Set Stage Upon Appointment Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Find Opportunity and Set Stage Upon Appointment Creation</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Note</name>
        <label>Create Note</label>
        <locationX>203</locationX>
        <locationY>324</locationY>
        <connector>
            <targetReference>Set_First_Appointment_Created_Checkbox_on_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <stringValue>Opportunity StageName Update Failed so update to &apos;Cert Appt Scheduled&apos;</stringValue>
            </value>
        </inputAssignments>
        <object>Note</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Opp_to_Debug</name>
        <label>Lookup Opp to Debug</label>
        <locationX>207</locationX>
        <locationY>25</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Locate_and_Update_Opp_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetReqParamName</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>OppId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OppStgName</assignToReference>
            <field>StageName</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Locate_and_Update_Opp_Stage</name>
        <label>Locate and Update Opp Stage</label>
        <locationX>204</locationX>
        <locationY>182</locationY>
        <faultConnector>
            <targetReference>Create_Note</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetReqParamName</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_First_Appointment_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Cert Appt Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_First_Appointment_Created_Checkbox_on_Opportunity</name>
        <label>Set First Appointment Created Checkbox on Opportunity</label>
        <locationX>424</locationX>
        <locationY>327</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetReqParamName</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_First_Appointment_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Lookup_Opp_to_Debug</startElementReference>
    <status>Active</status>
    <variables>
        <name>contId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>GetReqParamName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OppStgName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
