force-app/main/default/flows/Log_a_Call_With_Staging.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>DateforCertAppointmentScheduled</name>
        <label>DateforCertAppointmentScheduled</label>
        <locationX>545</locationX>
        <locationY>691</locationY>
        <assignmentItems>
            <assignToReference>DateAppointmentSchedule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NextDateDisplayScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorMessageAssignment</name>
        <label>ErrorMessageAssignment</label>
        <locationX>327</locationX>
        <locationY>910</locationY>
        <assignmentItems>
            <assignToReference>NextDateErroMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateErrorMessaage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NextDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Next_Date_ByStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NextDateDisplayScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorMessageforNullDate</name>
        <label>ErrorMessageforNullDate</label>
        <locationX>443</locationX>
        <locationY>808</locationY>
        <assignmentItems>
            <assignToReference>NextDateErroMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Datenullerrormessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NextDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Next_Date_ByStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NextDateDisplayScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NextDateAssignment</name>
        <label>NextDateAssignment</label>
        <locationX>4</locationX>
        <locationY>585</locationY>
        <assignmentItems>
            <assignToReference>NextDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NextCallDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IntialNextDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NextCallDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NextDateDisplayScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StageErrorMessageAssignMent</name>
        <label>StageErrorMessageAssignMent</label>
        <locationX>168</locationX>
        <locationY>640</locationY>
        <assignmentItems>
            <assignToReference>StageErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>please select a stage before saving</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_a_Call</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Growth_Objective_is_Updated</name>
        <label>Check if Growth Objective is Updated</label>
        <locationX>373</locationX>
        <locationY>281</locationY>
        <defaultConnector>
            <targetReference>Does_the_stage_contain_not_interested</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Growth Objective Is Not Default Value</defaultConnectorLabel>
        <rules>
            <name>Growth_Objective_Is_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Client_Growth_Objective</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Client Growth Objective</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Growth_Objective</targetReference>
            </connector>
            <label>Growth Objective Is Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_stage_contain_follow_up</name>
        <label>Does stage contain follow up</label>
        <locationX>574</locationX>
        <locationY>203</locationY>
        <defaultConnector>
            <targetReference>Is_the_stage_needs_attention</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not A Follow Up Stage</defaultConnectorLabel>
        <rules>
            <name>is_this_an_appointment_stage</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Follow Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Currentstage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Follow Up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_there_already_an_estimated_amount_percent</targetReference>
            </connector>
            <label>Is this an appointment stage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_stage_contain_not_interested</name>
        <label>Is stage blank, not interested, or a follow up stage</label>
        <locationX>573</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Does_stage_contain_follow_up</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Interested</defaultConnectorLabel>
        <rules>
            <name>Not_Interested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NON PURCHASER - Not Interested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Interested_New</targetReference>
            </connector>
            <label>Not Interested</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_stage_needs_attention</name>
        <label>Is the stage needs attention</label>
        <locationX>832</locationX>
        <locationY>170</locationY>
        <defaultConnector>
            <targetReference>CreateCallActivity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Needs Attention</defaultConnectorLabel>
        <rules>
            <name>stageisopenneedsattention</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open/Needs Attention</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_Open_NEeds_Attention</targetReference>
            </connector>
            <label>stage is open needs attention</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_already_an_estimated_amount_percent</name>
        <label>Is there already an estimated amount/percent</label>
        <locationX>446</locationX>
        <locationY>3</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Amount_and_Percent_are_not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEstimatedPurchase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentPercent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Amount_already_set</targetReference>
            </connector>
            <label>Amount and Percent are not blank</label>
        </rules>
        <rules>
            <name>Amount_and_Percent_are_Blank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEstimatedPurchase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentPercent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Estimated_Purchase_and_Percent_Required</targetReference>
            </connector>
            <label>Amount and Percent are Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsLoggedCallsNull</name>
        <label>IsLoggedCallsNull</label>
        <locationX>1164</locationX>
        <locationY>324</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Great_or_Equal_to_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentLoggedCalls</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOpportunity</targetReference>
            </connector>
            <label>Great or Equal to 0</label>
        </rules>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentLoggedCalls</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOpportunityWithNullLoggedCalls</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>NextDateValidation</name>
        <label>NextDateValidation</label>
        <locationX>2</locationX>
        <locationY>867</locationY>
        <defaultConnector>
            <targetReference>Validate_Other_Business_Goal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NextDateIsNotNull</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>Next_Date_ByStage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IntialNextDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMessageAssignment</targetReference>
            </connector>
            <label>NextDateIsNotNull</label>
        </rules>
        <rules>
            <name>WhenDateisNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IntialNextDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Next_Date_ByStage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Alive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Alive A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Alive B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Alive C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Alive D</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMessageforNullDate</targetReference>
            </connector>
            <label>WhenDateisNull</label>
        </rules>
        <rules>
            <name>DateforCertAppointmentSchedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_Date_ByStage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cert Appt Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DateforCertAppointmentScheduled</targetReference>
            </connector>
            <label>DateforCertAppointmentSchedule</label>
        </rules>
    </decisions>
    <decisions>
        <name>Salesperson_Response_to_Update_Question</name>
        <label>Salesperson Response to Update Question</label>
        <locationX>1154</locationX>
        <locationY>80</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Wants_to_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_New_Percentage_and_Estimate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Estimated_Purchase_and_Percent_Required</targetReference>
            </connector>
            <label>Wants to update</label>
        </rules>
        <rules>
            <name>Does_not_want_to_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_New_Percentage_and_Estimate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_the_stage_needs_attention</targetReference>
            </connector>
            <label>Does not want to update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Was_Null</name>
        <label>Stage Was Null</label>
        <locationX>1544</locationX>
        <locationY>354</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_stage_picked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Restore_Stage</targetReference>
            </connector>
            <label>No Stage Picked</label>
        </rules>
        <rules>
            <name>Stage_Picked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finish</targetReference>
            </connector>
            <label>Stage Picked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Other_Business_Goal</name>
        <label>Validate &quot;Other&quot; Business Goal</label>
        <locationX>185</locationX>
        <locationY>321</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Business_Goal_Is_Other_but_Other_Business_Goal_Is_Blank</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Client_Business_Objective</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Other_Business_Objective</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other Business Objective</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Other_Business_Objective</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OtherBusinessGoalCatch</targetReference>
            </connector>
            <label>Business Goal Is Other but Other Business Goal Is Blank</label>
        </rules>
        <rules>
            <name>Business_Objective_Selected_is_No_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClientBusinessObjective</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NO CHANGE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Growth_Objective_is_Updated</targetReference>
            </connector>
            <label>No Change</label>
        </rules>
        <rules>
            <name>Non_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Client_Business_Objective</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Client_Business_Objective</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NO CHANGE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateBusinessObjective</targetReference>
            </connector>
            <label>Non Other</label>
        </rules>
        <rules>
            <name>Business_Goal_Is_Other_but_Other_Business_Goal_Is_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Client_Business_Objective</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Other_Business_Objective</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Other Business Objective</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Other_Business_Objective</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Other_Business_Objective</targetReference>
            </connector>
            <label>Business Goal Is Other but Other Business Goal Is Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidateStage</name>
        <label>ValidateStage</label>
        <locationX>18</locationX>
        <locationY>440</locationY>
        <defaultConnector>
            <targetReference>NextDateAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>MustSelectStage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Must Select</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StageErrorMessageAssignMent</targetReference>
            </connector>
            <label>MustSelectStage</label>
        </rules>
    </decisions>
    <description>Changed Stage Choice to &quot;no change&quot; to trigger stage restore
Defaulted next call date to current run date of flow in case someone tries to save a blank.
Changed around decisions so that after being asked to update/updating estimates the flow still checks for needs attention status
Shifted check for follow up stage to it&apos;s own decision, follow up stages go through estimate setting dialog, non follow ups continue as normal
Added max character 255 notice
changed assignment to user ID formula
Added the rest of the no interest questions and a notes box
mapped not interested questionaire notes to it&apos;s own field
Updated stage to &quot;contains&quot; not interested to trigger not interested page
Added decisions and page mechanism for updating/not updating estimated amounts and percentages
added catch for current follow up stages to &quot;follow up&quot; decision
Filtered &quot;follow up&quot; stages out of &quot;interested&quot; stage decision
added decision and text box screen for open ended stage + corresponding opportunity update, completes that and then rejoins the flow
Removed Original &quot;Not interested&quot; questionaire and replaced with the new fields and a corresponding opportunity update
Added Larger Version of Business Goal Validation
Added Update System for Growth Goal
Made Criteria for Business Objective Update Specific
Fixed Issue with &quot;Not Interested&quot; Criteria
Added Default Values for Business goal info
Updated Source Field of Client Business Objectives list to XFER field
Minor spelling and field name updates</description>
    <dynamicChoiceSets>
        <name>ActivityCallDisposition</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Call_Disposition__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Alive</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>test_sales_xfer_field__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ClientBusinessObjective</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Client_Business_Objectives_Xfer__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LastCallType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Last_Call_Type__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NoInterestReasonCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>No_Interest_Reason_Category__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PercentDropdown</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Percent_Chance__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>LoggedCallsPlusone</name>
        <dataType>Number</dataType>
        <expression>VALUE({!CurrentLoggedCalls})+1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NextCallDate</name>
        <dataType>Date</dataType>
        <expression>IF(({!Stage} = &apos;Pre-Winner&apos; || 
{!Stage} = &apos;Follow Up - Appointment Scheduled&apos; || 
{!Stage} = &apos;Follow Up - Group&apos; ||
 {!Stage} = &apos;Follow Up - Low Interest&apos; || 
 {!Stage} = &apos;Purchased - Follow up needed&apos;), 
 CASE(MOD({!$Flow.CurrentDate} - DATE(1900, 1, 7), 7), 0, TODAY()+3, 1, TODAY()+3, 2, TODAY()+3,3, TODAY()+5, 4, TODAY()+5, 5, TODAY()+5, 6, TODAY()+4,null),
 IF(({!Stage} = &apos;Cert Appt Scheduled&apos;), TODAY(),null))</expression>
    </formulas>
    <formulas>
        <description>Current user ID</description>
        <name>UserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Log a Call With Staging {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Log a Call With Staging New</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCallActivity</name>
        <label>CreateCallActivity</label>
        <locationX>1008</locationX>
        <locationY>320</locationY>
        <connector>
            <targetReference>IsLoggedCallsNull</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Disposition__c</field>
            <value>
                <elementReference>disposition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Call_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>10</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>LaunchedOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CurrentOpportunityContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>FindCurrentOpportunity</name>
        <label>FindCurrentOpportunity</label>
        <locationX>35</locationX>
        <locationY>148</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Log_a_Call</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LaunchedOpportunityID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>CurrentOpportunityContact</assignToReference>
            <field>Contact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CurrentEstimatedPurchase</assignToReference>
            <field>Estimated_Purchase__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CurrentOpportunityAM</assignToReference>
            <field>FSP_Sales_Rep__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CurrentLoggedCalls</assignToReference>
            <field>Logged_Calls__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CurrentPercent</assignToReference>
            <field>Percent_Chance__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Currentstage</assignToReference>
            <field>StageName</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Add_Not_Interested_Info_To_Opportunity</name>
        <label>Add Not Interested Info To Opportunity</label>
        <locationX>795</locationX>
        <locationY>499</locationY>
        <connector>
            <targetReference>CreateCallActivity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LaunchedOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>No_Interest_Detail__c</field>
            <value>
                <elementReference>No_Interest_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_Interest_Reason_Category__c</field>
            <value>
                <elementReference>NoInterestReasonCategory</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Restore_Stage</name>
        <label>Restore Stage + Update Open Call Comments</label>
        <locationX>1781</locationX>
        <locationY>383</locationY>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LaunchedOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Open_Call_Comments__c</field>
            <value>
                <elementReference>Call_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Currentstage</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>SendDescriptiontoOpp</name>
        <label>SendDescriptiontoOpp</label>
        <locationX>801</locationX>
        <locationY>370</locationY>
        <connector>
            <targetReference>CreateCallActivity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LaunchedOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Open_Ended_Stage_Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Store_estimate_and_percentage_on_opp</name>
        <label>Store estimate and percentage on opp</label>
        <locationX>1498</locationX>
        <locationY>76</locationY>
        <connector>
            <targetReference>Is_the_stage_needs_attention</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LaunchedOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estimated_Purchase__c</field>
            <value>
                <elementReference>Estimated_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Percent_Chance__c</field>
            <value>
                <elementReference>Percent_Chance</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Growth_Objective</name>
        <label>Update Growth Objective</label>
        <locationX>373</locationX>
        <locationY>98</locationY>
        <connector>
            <targetReference>Does_the_stage_contain_not_interested</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LaunchedOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client_Growth_Objectives__c</field>
            <value>
                <elementReference>Client_Growth_Objective</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Other_Business_Objective</name>
        <label>Update Other Business Objective</label>
        <locationX>356</locationX>
        <locationY>512</locationY>
        <connector>
            <targetReference>Check_if_Growth_Objective_is_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LaunchedOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client_Business_Objectives_Others__c</field>
            <value>
                <elementReference>Other_Business_Objective</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Business_Objectives__c</field>
            <value>
                <elementReference>Client_Business_Objective</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Other_Information</name>
        <label>Update Other Information</label>
        <locationX>188</locationX>
        <locationY>93</locationY>
        <connector>
            <targetReference>Check_if_Growth_Objective_is_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LaunchedOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client_Business_Objectives_Others__c</field>
            <value>
                <elementReference>OtherBusinessGoalCheck</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Business_Objectives__c</field>
            <value>
                <elementReference>ClientBusinessObjective</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateBusinessObjective</name>
        <label>UpdateBusinessObjective</label>
        <locationX>236</locationX>
        <locationY>549</locationY>
        <connector>
            <targetReference>Check_if_Growth_Objective_is_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LaunchedOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client_Business_Objectives_Others__c</field>
            <value>
                <elementReference>OtherBusinessGoalCheck</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Business_Objectives__c</field>
            <value>
                <elementReference>Client_Business_Objective</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOpportunity</name>
        <label>UpdateOpportunity</label>
        <locationX>1368</locationX>
        <locationY>240</locationY>
        <connector>
            <targetReference>Stage_Was_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LaunchedOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Call_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Logged_Calls__c</field>
            <value>
                <elementReference>LoggedCallsPlusone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_call_date__c</field>
            <value>
                <elementReference>Next_Date_ByStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_Call_Comments__c</field>
            <value>
                <elementReference>Call_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Stage</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOpportunityWithNullLoggedCalls</name>
        <label>UpdateOpportunityWithNullLoggedCalls</label>
        <locationX>1369</locationX>
        <locationY>364</locationY>
        <connector>
            <targetReference>Stage_Was_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LaunchedOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Call_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Logged_Calls__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_call_date__c</field>
            <value>
                <elementReference>Next_Date_ByStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_Call_Comments__c</field>
            <value>
                <elementReference>Call_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Stage</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Amount_already_set</name>
        <label>Amount already set</label>
        <locationX>905</locationX>
        <locationY>82</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Salesperson_Response_to_Update_Question</targetReference>
        </connector>
        <fields>
            <name>EstimateAlreadyEntered</name>
            <fieldText>It looks like you have already set a percentage and estimate on this record, check the box and click &quot;next&quot; to update, if you *do not* want to update just click &quot;next&quot; - leaving the box blank.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Set_New_Percentage_and_Estimate</name>
            <dataType>Boolean</dataType>
            <fieldText>Set New Percentage and Estimate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Estimated_Purchase_and_Percent_Required</name>
        <label>Estimated Purchase and Percent Required</label>
        <locationX>904</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Store_estimate_and_percentage_on_opp</targetReference>
        </connector>
        <fields>
            <name>FollowUpInfo</name>
            <fieldText>&quot;Follow Up&quot; stages require the selection of an estimated amount and percent chance.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Estimated_Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Estimated Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Percent_Chance</name>
            <choiceReferences>PercentDropdown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Percent Chance</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>1557</locationX>
        <locationY>544</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Hyperlink</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please Close This Window&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Log_a_Call</name>
        <label>Log a Call</label>
        <locationX>33</locationX>
        <locationY>280</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ValidateStage</targetReference>
        </connector>
        <fields>
            <name>disposition</name>
            <choiceReferences>ActivityCallDisposition</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Disposition</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Call_Notes</name>
            <fieldText>Call Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Input cannot be more than 255 characters.</errorMessage>
                <formulaExpression>LEN(Call_Notes)&lt;255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Client_Business_Objective</name>
            <choiceReferences>ClientBusinessObjective</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Client Business Objectives</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_Business_Objective</name>
            <defaultValue>
                <stringValue>Other Business Objective</stringValue>
            </defaultValue>
            <fieldText>Client Business Objectives - Other</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Client_Growth_Objective</name>
            <defaultValue>
                <stringValue>Client Growth Objective</stringValue>
            </defaultValue>
            <fieldText>Client Growth Objective</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Stage</name>
            <choiceReferences>Alive</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>StageErrorDisplay</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#CC0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!StageErrorMessage}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NextDateDisplayScreen</name>
        <label>NextDateDisplayScreen</label>
        <locationX>5</locationX>
        <locationY>692</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>NextDateValidation</targetReference>
        </connector>
        <fields>
            <name>Next_Date_ByStage</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>NextDate</elementReference>
            </defaultValue>
            <fieldText>Next Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#CC0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!NextDateErroMessage}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Interested_New</name>
        <label>Not Interested New</label>
        <locationX>575</locationX>
        <locationY>498</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Not_Interested_Info_To_Opportunity</targetReference>
        </connector>
        <fields>
            <name>No_Interest_Reason_Category</name>
            <choiceReferences>NoInterestReasonCategory</choiceReferences>
            <dataType>String</dataType>
            <fieldText>No Interest Reason Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>No_Interest_Details</name>
            <fieldText>No Interest Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OtherBusinessGoalCatch</name>
        <label>OtherBusinessGoalCatch</label>
        <locationX>188</locationX>
        <locationY>182</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Other_Information</targetReference>
        </connector>
        <fields>
            <name>OtherTextWarningMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please enter value in Client Business objective - Other field&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OtherBusinessGoalCheck</name>
            <fieldText>Client Business Objective - Others</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selected_Open_NEeds_Attention</name>
        <label>Selected Open NEeds Attention</label>
        <locationX>799</locationX>
        <locationY>280</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SendDescriptiontoOpp</targetReference>
        </connector>
        <fields>
            <name>InfoOnneedsattn</name>
            <fieldText>You have selected &quot;Open/Needs Attention&quot; as a stage, please provide information on why you have selected this stage in the box below.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>FindCurrentOpportunity</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>DateErrorMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please enter valid date. This stage should have Next call date&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Datenullerror</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Selected stage should not have next call date.Please delete&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <variables>
        <name>CurrentEstimatedPurchase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentLoggedCalls</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentOpportunityAM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentOpportunityContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentPercent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Currentstage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DateAppointmentSchedule</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>DateErrorMessage</elementReference>
        </value>
    </variables>
    <variables>
        <name>DateErrorMessaage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>DateErrorMessage</elementReference>
        </value>
    </variables>
    <variables>
        <name>Datenullerrormessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Datenullerror</elementReference>
        </value>
    </variables>
    <variables>
        <name>IntialNextDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Used to find the opportunity everything is assigned to</description>
        <name>LaunchedOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NextDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NextDateErroMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StageErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
