force-app/main/default/flows/Log_an_Interaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <description>Like log a call but for not calls
Added activitydate to creation
Changed owner of created activity to &quot;user.id&quot; rather than opp owner
Added next call date preservation
Added last call date preservation
Added assignment of whatID variable to whoid field, relates activity to contact as well as opportunity from this version on</description>
    <dynamicChoiceSets>
        <name>Alive</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InteractionType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Interaction_Type__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Currentuser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Log an Interaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Log an Interaction</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCallActivity</name>
        <label>CreateCallActivity</label>
        <locationX>656</locationX>
        <locationY>86</locationY>
        <connector>
            <targetReference>preservenextcalldate</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Call_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Currentuser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>10</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Interaction_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>LaunchedOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CurrentOpportunityContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>FindCurrentOpportunity</name>
        <label>FindCurrentOpportunity</label>
        <locationX>431</locationX>
        <locationY>85</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateCallActivity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LaunchedOpportunityID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>CurrentOpportunityContact</assignToReference>
            <field>Contact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CurrentOpportunityAM</assignToReference>
            <field>FSP_Sales_Rep__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>currentlastcalldate</assignToReference>
            <field>Last_Call_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>currentnextcalldate</assignToReference>
            <field>Next_call_date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>preservenextcalldate</name>
        <label>preservenextcalldate</label>
        <locationX>828</locationX>
        <locationY>89</locationY>
        <connector>
            <targetReference>Please_Close</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LaunchedOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Call_Date__c</field>
            <value>
                <elementReference>currentlastcalldate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_call_date__c</field>
            <value>
                <elementReference>currentnextcalldate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Log_a_Call</name>
        <label>Log a Call</label>
        <locationX>217</locationX>
        <locationY>88</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FindCurrentOpportunity</targetReference>
        </connector>
        <fields>
            <name>Interaction_Type</name>
            <choiceReferences>InteractionType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Interaction Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Call_Notes</name>
            <fieldText>Interaction Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_Close</name>
        <label>Please Close</label>
        <locationX>993</locationX>
        <locationY>90</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PleaseClose</name>
            <fieldText>Please Close This Window</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Log_a_Call</startElementReference>
    <status>Active</status>
    <variables>
        <name>currentlastcalldate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentnextcalldate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentOpportunityAM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentOpportunityContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Used to find the opportunity everything is assigned to</description>
        <name>LaunchedOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
