force-app/main/default/flows/Payment_Method_Update_Contact_Billing_Country.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AssignMailingCountry</name>
        <label>AssignMailingCountry</label>
        <locationX>440</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>LoopRelatedContacts.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRelatedContacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_List_Not_Empty</name>
        <label>Check If List Not Empty</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>LoopRelatedContacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedContacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Is Empty</label>
        </rules>
    </decisions>
    <interviewLabel>Payment Method - Update Contact Billing Country {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment Method - Update Contact Billing Country</label>
    <loops>
        <name>LoopRelatedContacts</name>
        <label>LoopRelatedContacts</label>
        <locationX>352</locationX>
        <locationY>575</locationY>
        <collectionReference>RelatedContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignMailingCountry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateMailingCountry</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>RelatedContacts</name>
        <label>RelatedContacts</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_List_Not_Empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MailingCountry</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>DefaultCountry</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateMailingCountry</name>
        <label>UpdateMailingCountry</label>
        <locationX>352</locationX>
        <locationY>911</locationY>
        <inputReference>RelatedContacts</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RelatedContacts</targetReference>
        </connector>
        <object>Payment_Method__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DefaultCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>United States</stringValue>
        </value>
    </variables>
</Flow>
