force-app/main/default/flows/Social_Tier_Update_on_Subscription_Fulfillment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Social_Tier</name>
        <label>Social Tier</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Expert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_Social_Media_Plan.Product_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Expert</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Expert_Field_Update</targetReference>
            </connector>
            <label>Expert</label>
        </rules>
        <rules>
            <name>Enhanced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_Social_Media_Plan.Product_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Enhanced</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enhanced_Field_Update</targetReference>
            </connector>
            <label>Enhanced</label>
        </rules>
        <rules>
            <name>Essentials</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_Social_Media_Plan.Product_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Essentials</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Essentials_Field_Update</targetReference>
            </connector>
            <label>Essentials</label>
        </rules>
    </decisions>
    <description>Updates Service Tier on Social Media Account Subscription product</description>
    <environments>Default</environments>
    <interviewLabel>Social Tier Update on Subscription Fulfillment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Social Tier Update on Subscription Fulfillment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Related_Social_Media_Plan</name>
        <label>Related Social Media Plan</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Social_Tier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Base_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Social Media Plan</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Subscription Cancelled,Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Boom_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Boom_Order__r.Full_Order_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fulfillment__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Enhanced_Field_Update</name>
        <label>Enhanced Field Update</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Service_Tier__c</field>
            <value>
                <stringValue>Enhanced</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Essentials_Field_Update</name>
        <label>Essentials Field Update</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Service_Tier__c</field>
            <value>
                <stringValue>Essentials</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Expert_Field_Update</name>
        <label>Expert Field Update</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Service_Tier__c</field>
            <value>
                <stringValue>Expert</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Related_Social_Media_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Base_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Managed Social Service</stringValue>
            </value>
        </filters>
        <object>Fulfillment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
