force-app/main/default/flows/Subscription_Modify_Quantities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Calculate_Qty</name>
        <label>Calculate Qty</label>
        <locationX>308</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Quantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_related_product_line.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Subscription</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quantity</name>
        <label>Set Quantity</label>
        <locationX>308</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Qty</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_related_prod_line_is_found</name>
        <label>Check if related prod line is found</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Set_Quantity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Related_Prod_Line_is_not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_product_line</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Related Prod Line is not found</label>
        </rules>
    </decisions>
    <interviewLabel>Subscription - Modify Quantities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subscription - Modify Quantities</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_related_product_line</name>
        <label>Get related product line</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_related_prod_line_is_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__r.Change_For__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SalesOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SalesOrder__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesOrderProductLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Subscription</name>
        <label>Update Subscription</label>
        <locationX>308</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SalesOrder__r.Subscription__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Renewal_Quantity__c</field>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <object>Subscription__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_related_product_line</targetReference>
        </connector>
        <object>SalesOrderProductLine__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
