force-app/main/default/flows/update_subscription_value.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Subscription_Amount</name>
        <label>Assign Subscription Amount</label>
        <locationX>705</locationX>
        <locationY>324</locationY>
        <assignmentItems>
            <assignToReference>TotalSubscriptionValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Subscription.Subscription_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Subscriptions</targetReference>
        </connector>
    </assignments>
    <interviewLabel>update subscription value {!$Flow.CurrentDateTime}</interviewLabel>
    <label>update subscription value</label>
    <loops>
        <name>Loop_through_Subscriptions</name>
        <label>Loop through Subscriptions</label>
        <locationX>490</locationX>
        <locationY>324</locationY>
        <assignNextValueToReference>Subscription</assignNextValueToReference>
        <collectionReference>Subscriptions</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Subscription_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_subscription_value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>LookupSubscriptions</name>
        <label>LookupSubscriptions</label>
        <locationX>487</locationX>
        <locationY>189</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Subscriptions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>kugo2p__SalesOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OriginatingSubscription.kugo2p__SalesOrder__c</elementReference>
            </value>
        </filters>
        <object>kugo2p__Payment_Profile__c</object>
        <outputReference>Subscriptions</outputReference>
        <queriedFields>Subscription_Value__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_subscription_value</name>
        <label>update subscription value</label>
        <locationX>493</locationX>
        <locationY>472</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OriginatingSubscription.kugo2p__SalesOrder__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Recurring_Subscription_Value__c</field>
            <value>
                <elementReference>TotalSubscriptionValue</elementReference>
            </value>
        </inputAssignments>
        <object>kugo2p__SalesOrder__c</object>
    </recordUpdates>
    <startElementReference>LookupSubscriptions</startElementReference>
    <status>Active</status>
    <variables>
        <name>OriginatingSubscription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>kugo2p__Payment_Profile__c</objectType>
    </variables>
    <variables>
        <name>Subscription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>kugo2p__Payment_Profile__c</objectType>
    </variables>
    <variables>
        <name>Subscriptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>kugo2p__Payment_Profile__c</objectType>
    </variables>
    <variables>
        <name>TotalSubscriptionValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
